/* item others */
.formula__{
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 85vh;
    color: aliceblue;
}
/* ======= */

/* box */
.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid #EEEEEE;
}
.box_p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: 2px solid #EEEEEE;
}
/* btn hasil */
.btn_hasil {
    transition: 0.3s ease-in-out;
    width: 80px;
    height: 30px;
    border-radius: 0;
}
.reset_btn {
    transition: 0.3s ease-in-out;
    background-color: #b50000;
}
/* froms */
fieldset {
    width: 10%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex; 
    flex-direction: row;
}
fieldset input {
    text-align: center;
    width: 100px;
    height: 30px;
}
/* ========== */
.luas {
    padding: 20px;
    background-color: #000000f1;
    width: 40%;
    height: auto;
    font-family: Roboto;
}
.keliling {
    padding: 20px;
    background-color: #000000f1;
    width: 40%;
    height: auto;
    font-family: Roboto;
}
/* ============ */

/* bar persegi */
.bar_persegi {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-direction: row;
    background-color: #000000f1;
}
.bar_persegi h2 {
    color: #EEEEEE;
    font-family: Roboto;
    font-size: 1rem;
}
.change_ppersegi button {
    transition: 0.3s ease-in-out;
    width: 150px;
}
.bar_persegi a {
    cursor: pointer;
    padding: 20px 0;
    text-decoration: none;
    color: #EEEEEE;
    font-family: Roboto;
}
.bar_persegi a:hover {
    color: #00ADB5;
}
.bar_persegi a:active {
    color: red;
}
/* manipulasi */
#persegiPanjang_ {
    display: none;
}
#persegi-.none {
    display: none;
}
#persegiPanjang_.show {
    display: block;
}

#persegi-.show {
    display: block;
}
#persegiPanjang_.none {
    display: none;
}
/* -========== */